function Square.new 0
push constant 3 //pass num_fields to Memory.alloc for allocation in heap
call Memory.alloc 1
pop pointer 0 //Set 'this' to object base address
push argument 0 //value of Ax
pop this 0 //bind topmost stack value to x
push argument 1 //value of Ay
pop this 1 //bind topmost stack value to y
push argument 2 //value of Asize
pop this 2 //bind topmost stack value to size
push pointer 0 //Push current object to stack for method call
call Square.draw 1
pop temp 0 //remove return value from stack after do statement
push pointer 0 //'this'
return
function Square.dispose 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push pointer 0 //'this'
call Memory.deAlloc 1
pop temp 0 //remove return value from stack after do statement
push constant 0 
return
function Square.draw 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push constant 0 
return
function Square.erase 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push constant 0 
return
function Square.incSize 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 1 //value of y
push this 2 //value of size
add
push constant 254 
lt
push this 0 //value of x
push this 2 //value of size
add
push constant 510 
lt
and
not
if-goto IF_FALSEIF0
push pointer 0 //Push current object to stack for method call
call Square.erase 1
pop temp 0 //remove return value from stack after do statement
push this 2 //value of size
push constant 2 
add
pop this 2 //bind topmost stack value to size
push pointer 0 //Push current object to stack for method call
call Square.draw 1
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF0
label IF_FALSEIF0
label IF_TRUEIF0
push constant 0 
return
function Square.decSize 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 2 //value of size
push constant 2 
gt
not
if-goto IF_FALSEIF1
push pointer 0 //Push current object to stack for method call
call Square.erase 1
pop temp 0 //remove return value from stack after do statement
push this 2 //value of size
push constant 2 
sub
pop this 2 //bind topmost stack value to size
push pointer 0 //Push current object to stack for method call
call Square.draw 1
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF1
label IF_FALSEIF1
label IF_TRUEIF1
push constant 0 
return
function Square.moveUp 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 1 //value of y
push constant 1 
gt
not
if-goto IF_FALSEIF2
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 2 //value of size
add
push constant 1 
sub
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push this 1 //value of y
push constant 2 
sub
pop this 1 //bind topmost stack value to y
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push constant 1 
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF2
label IF_FALSEIF2
label IF_TRUEIF2
push constant 0 
return
function Square.moveDown 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 1 //value of y
push this 2 //value of size
add
push constant 254 
lt
not
if-goto IF_FALSEIF3
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push constant 1 
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push this 1 //value of y
push constant 2 
add
pop this 1 //bind topmost stack value to y
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 2 //value of size
add
push constant 1 
sub
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF3
label IF_FALSEIF3
label IF_TRUEIF3
push constant 0 
return
function Square.moveLeft 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 0 //value of x
push constant 1 
gt
not
if-goto IF_FALSEIF4
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 2 //value of size
add
push constant 1 
sub
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push constant 2 
sub
pop this 0 //bind topmost stack value to x
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push constant 1 
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF4
label IF_FALSEIF4
label IF_TRUEIF4
push constant 0 
return
function Square.moveRight 0
push argument 0 //arg 0 holds the pointer to the object
pop pointer 0 
push this 0 //value of x
push this 2 //value of size
add
push constant 510 
lt
not
if-goto IF_FALSEIF5
push constant 0 //'null' or 'false'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 1 //value of y
push this 0 //value of x
push constant 1 
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push constant 2 
add
pop this 0 //bind topmost stack value to x
push constant 1 
neg //'true'
call Screen.setColor 1
pop temp 0 //remove return value from stack after do statement
push this 0 //value of x
push this 2 //value of size
add
push constant 1 
sub
push this 1 //value of y
push this 0 //value of x
push this 2 //value of size
add
push this 1 //value of y
push this 2 //value of size
add
call Screen.drawRectangle 4
pop temp 0 //remove return value from stack after do statement
goto IF_TRUEIF5
label IF_FALSEIF5
label IF_TRUEIF5
push constant 0 
return
