class Main
function main 0
push constant 11
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 72
call Output.printChar 1
pop temp 0
push constant 101
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 87
call Output.printChar 1
pop temp 0
push constant 111
call Output.printChar 1
pop temp 0
push constant 114
call Output.printChar 1
pop temp 0
push constant 108
call Output.printChar 1
pop temp 0
push constant 100
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
