// expect 12 in ram[256]

function main 0
push constant 5
push constant 3
call add 2
call subtract10 1
call Output.print 1

function subtract10 1
push argument 0
push constant 10
sub
pop local 0
push constant 10
push local 0
sub
return

function add 0
push argument 0
push argument 1
add
return